body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin:5px 5px 35px 5px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin:5px 5px 30px 5px;
}

h2 {
    font: 16px;
    font-weight: 400;
    margin:5px 5px 10px 5px;
}

.portada {
    width: 50%;
    display: flex;
    align-items: c;
    background-image: url("https://images.pexels.com/photos/4388593/pexels-photo-4388593.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 100% 100%;
}

.portada-recovery{
    width: 50%;
    background-image: url("https://images.pexels.com/photos/4388593/pexels-photo-4388593.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 100% 100%;
}

.portada img{
    object-fit:unset;
}

.panel {
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opciones p{
    display: inline-flex;
    justify-content: space-between;
}


.back-btn{
    position: absolute ;
    top: 9%; 
    left: 58%;
    width: 20px;
    height: 20px;
}

.back p{
    color: #8692A6;
    position: absolute ;
    font-size: 18px;
    top: 7.2%; 
    left: 59.5%;
}

input:focus{
    outline: none;
  }
  ::placeholder{
    color: rgb(122, 122, 122);
    font-size: 16px;
  }

.correo-input {
    margin: 5px;
    width: 342px;
    height: 35px;
    left: 908px;
    top: 549px;
    padding: 8px;
    border-radius: 15px;

}

.password-input {
    margin: 5px;
    width: 342px;
    height: 35px;
    left: 908px;
    top: 549px;
    padding: 8px;
    border-radius: 15px;
}


.login-btn {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: #FE5F55;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    width: 347px;
    height: 50px;
    left: 913px;
    top: 554px;
}

.login-google-btn {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: #777DA7;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    width: 347px;
    height: 50px;
    left: 913px;
    top: 554px;

}

.registrate { 
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    align-self: center;
}

.registrate p {
    margin: 10px;
}

.registrate a {
    margin: 10px;
}

.ORLine {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    align-self: center;
}

.ORLine img {
    align-content: center;
    margin: 17px;
}