*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1{
	font-size: 330%;
	font-weight: 100;
}

.info p{
  margin-right: 300px;
}

#archivo{
  margin-left: 100px;
}

nav{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 8vh;
  background-color: #494949;
  
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width: 90%;
}

.nav-links li{
  float: left;
  list-style: none;
}

.nav-links a {
  color:rgb(200, 200, 200);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}

.buscador{
  display: flex;
  align-items: center;
  align-self: center;
  width: 500px;
  height: 50px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.buscador input#search{
  width: 500px;
  height: 50px;
  background: #2b303b;
  border: none;
  align-self: center;
  font-size: 10pt;
  float: left;
  color: #474747;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
   
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}


.buscador input#search:hover, 
.buscador input#search:focus, 
.buscador input#search:active{
    outline:none;
    background: #ffffff;
  }


.wrapper {
  margin-top: 100px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

}

.img_container:hover {
	-webkit-transform:scale(0.9);transform:scale(0.9);
}

.img_container:hover > details {
	opacity: 100;
}

.img_container img{
	width: 450px;
	height: 410px;
	border-radius: 1%;
	box-shadow: 0px 0px 10px 1px black;
}

.retorno{
  float: left;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 5px 1px black;
border-radius: 100%;
}

.retorno img{
  width: 60%;
margin-top: 10px;
margin-left: 5px;
}

.retorno:hover {
  background: azure;
  cursor: pointer;
}

.contenedor {
  margin: 20px 10px;
  padding: 50px 15px;
  background-color: #777DA7;
  border-radius: 25px;
  height: 500px;
}

.exterior{
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 20px;
  float: left;
  width: 40%;
  height: 90%;
  background-color: #d8d5dc;
  border-radius: 1%;
}

.interior{
  border: 3px dashed  #afadb2;
  height: 97%;
  width: 97%;
  margin-top: 3px;
  margin-left: 3px;
}

.interior p{
	text-align: center;
	vertical-align: middle;
}

.interior img{
	width: 20%;
	height: 20%;
	margin-left: 40%;
	margin-top: 30%;
	cursor: pointer;
}

.info img{
  width: 2%;
  height: 4%;

}

.boton_personalizado{
  margin-top: 40px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

.boton_personalizado:hover{
  color: #1883ba;
  background-color: #ffffff;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input.field{
  outline: none;  
  width: 40%;
}

details[open] summary:after {
  opacity: 100;
}

details {
  opacity: 0;
  font: 16px "Open Sans", Calibri, sans-serif;
  width: 20px;
}

details > summary {
  padding: 2px 6px;
  width: 20px;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > a {
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
  display: inline-block;
  width: 70px;
}

.info {
  float: right;
  margin-right: 30px;
}