{% extends 'base.html' %}

{% block head %} 
    {{ super() }}
{% endblock %}

{% block title %} 
    {{ super() }}
{% endblock %}

{% block content %}
	
<form action="{{ url_for('image')}}" method="POST" enctype="multipart/form-data">
	<a class="retorno" href="{{ url_for('welcome') }}">
		<img  src="{{ url_for('static', filename='images/flecha.png')}}">
	</a>
	<section class="contenedor">
		<div class="exterior">
			<div class="interior">
				
				
				{% if path %}
				<img src="{{path}}">
        	
    			{% endif %}
			</div>
			
		</div> 
		<div class="info">
			<p class="text">URL de la imágen</p>
			<input class="field" type="text" name="archivo" required>
			<p class="text">Nombre de tu imagen</p>
			<input  class="field" type="text" name="nombre" required>
			<br>
			<p class="text">¿Cuál es el tema de tu imagen?</p>
			<input class="field" type="text" name="tema" required>
			<br>
			<div class="inline">
				<p class="text">¿Privada?</p>
				<label class="switch">
					<input type="checkbox" name="estado">
					<span class="slider round"></span>
				</label>
				<img src="{{ url_for('static', filename='images/candado.png')}}">
			</div>
			<br>
			<button type="submit" class="boton_personalizado" value="Guardar Imagen">Guardar</button>
			
		</div>
	
	</section>

</form>
{% endblock %}