<!DOCTYPE html>
<html lang="en">
    {% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_base.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    {% endblock %}
    {% block title %}
    <title>
        UNImagenes |
    </title>
    {% endblock %}
</head>


<body>

    {% block navbar %}

    <div class="barra">
		<ul>
		  <li><a class="active" href="#home">Home</a></li>
		  <li><a href="#news">Mi galeria</a></li>
		  <li><a href="#contact">Mi cuenta</a></li>
		  <li><a href="#about">Sobre los desarrolladores</a></li>
		  <li>
		  	<div class="box">
			<div class="container-1">
    			<input type="search" id="search" placeholder="Buscar..." />
			</div>
		</div>
		  	
		  </li>
		</ul>
			
	</div>

    {% endblock %}

    {% block content %}
    {% endblock %}    
</body>
</html>