<!DOCTYPE html>
<html lang="en">
    {% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_base.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    {% endblock %}
    {% block title %}
    <title>
        UNImagenes |
    </title>
    {% endblock %}
</head>


<body>

    {% block navbar %}
    <nav>
		<ul class="nav-links" >

		  <li><a href="{{ url_for('welcome')}}">Home</a></li>
		  <li>
      <form method="POST">
			<div class="buscador">
    			<input name="buscar" type="search" id="search" placeholder="Buscar..." />
			</div>
      </li>
      <li>
        <button type="submit" class="boton_personalizado" id="nav1"></button>
      </li>
      </form>
		  <li><a href="">Mi galeria</a></li>
      <li><a href="#contact">Mi cuenta</a>
        <ul>
          <li><a href="{{ url_for('image') }}">Subir imagen</a></li>
        </ul>
      </li>
		  <li><a href="{{ url_for('login')}}">Ingresar</a></li>
          
		</ul>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}    
</body>
</html>