{% extends 'base.html' %}

{% block head %}
	{{ super() }}
{% endblock %}

	{% block title %}
{{ super() }}
{% endblock %}

{% block content %}


<section class="wrapper">
	{%for i in range (0,resLen)%}
		<div class="img_container">
			<details>
				<summary>...</summary>
				<a href="{{ url_for('download') }}">Descargar</a><br>
				<a href="{{ url_for('image') }}">Actualizar</a>
				<a href="{{ url_for('erase') }}">Borrar</a>
			</details>
			<img src="{{res[i][2]}}">
		
		</div>
	{% endfor %}

</section>

{% endblock %}